---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <h1 class="text-3xl font-bold mb-6">About</h1>
  <div class="prose prose-lg max-w-none">
    <p>
      Ecology, Society, Democracy is the notebook of Brad Venner and is a
      chronicle of my readings and musings on democratic ecosocialism. Beware,
      I'm not a trained philosopher, and the notebook contains little but
      partial and incomplete notes.
    </p>
  </div>
</BaseLayout>
