---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Quotes">
  <h1 class="text-3xl font-bold mb-6">Quotes</h1>
  <div class="prose prose-lg max-w-none">
    <blockquote>
      <p>Freedom does not consist in any dreamt-of independence from natural laws, but in the knowledge of these laws, and the possibility this gives of systematically making them work towards definite ends</p>
      <footer>&mdash; Frederick Engels, <cite>Anti-Dühring</cite>, 1877</footer>
    </blockquote>

    <blockquote>
      <p>To allow (the money power) to become a source of revenue to private issuers is to create, first, a secret and illicit arm of the government and, last, a rival power strong enough ultimately to overthrow all other forms of government.</p>
      <footer>&mdash; Frederick Soddy, <cite>The Role of Money</cite>, 1934</footer>
    </blockquote>

    <blockquote>
      <p>Overcoming capitalism is only possible by concomitantly overcoming the fossil energy regime.</p>
      <footer>&mdash; Elmar Altvater, <cite>A Marxist Ecological Economics</cite>, 2007</footer>
    </blockquote>

    <blockquote>
      <p>Capitalist production, therefore, only develops the techniques and the degree of combination of the social process of production by simultaneously undermining the original sources of all wealth &mdash; the soil and the worker.</p>
      <footer>&mdash; Karl Marx, <cite>Capital, Vol 1</cite>, 1867</footer>
    </blockquote>
  </div>
</BaseLayout>
